@{
    ViewBag.Title = "Thiết kế web";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Thiết kế web</h1>
<section id="blog" class="container">
    <div class="blog">
        <div class="row">
            Công ty, tổ chức, doanh nghiệp của bạn đang cần một thiết kế website
            <p>- Tính năng dễ sử dụng, phù hợp với yêu cầu riêng của khách hàng</p>
            - Giao diện thân thiện, thiết kế theo chuẩn quốc tế mới nhất
            - Hiển thị được trên mọi loại thiết bị như: Máy tính, Di động, máy tính bảng...
            - Đầy đủ tính năng cơ bản như giới thiệu công ty, giới thiệu sản phẩm, liên hệ, tin tức, slide ảnh, dịch vụ...
            - Được hỗ trợ quảng bá online qua các kênh như Google, Facebook
            - Được tùy chọn mẫu website qua hàng chục mẫu website quốc tế

    Minh Việt đáp ứng nhu cầu đó của bạn với các gói thiết kế website phù hợp và khuyến mại đi kèm
    <div class="row">
        <div class="features">
            <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <i class="fa fa-bullhorn"></i>
                    <h2>Gói Basic 6000.000 đ</h2>
                    <h3>Gồm trang chủ, giới thiệu, dịch vụ, liên hệ</h3>
<p>Tặng kèm gói marketing Google adword miễn phí 1 tháng trị giá 2.5 triệu quảng bá sản phẩm, dịch vụ của bạn. Bảo hành 1 năm</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2>Gói Gold 10.000.000 đ</h2>
                            <h3>Gồm trang chủ, giới thiệu, dịch vụ, liên hệ, sản phẩm, tin tức, tìm kiếm</h3>
                            <p>Tặng kèm gói marketing Google adword miễn phí 2 tháng trị giá 4.5 triệu quảng bá sản phẩm, dịch vụ của bạn.  Bảo hành 1 năm</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2>Gói Theo yêu cầu: Giá thỏa thuận</h2>
                            <h3>Thiết kế web theo yêu cầu đến khi nào khách hàng hài lòng</h3>
                            <p>Tặng kèm gói marketing Google adword miễn phí 02 tháng trị giá 4.5 triệu quảng bá sản phẩm, dịch vụ của bạn. Bảo hành 02 năm.</p>
                        </div>
                    </div><!--/.col-md-4-->

                   
                </div><!--/.services-->
            </div><!--/.row-->
        </div>
    </div>
</div>
