@{
    ViewBag.Title = "Khóa học quảng cáo zalo";
    ViewBag.des = "Giúp bạn quảng bá thương hiệu, sản phẩm với chi phí tiết kiệm nhất";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    .hotline {
        position: fixed;
        bottom: 0;
        z-index: 10;
        height: 28px;
        left: 0;
        background: #fbe016;
        width: 100%;
        text-align: center;
        color: #fff;
        line-height: 29px;
    }
</style>
<script src="/Content/js/jquery.js"></script>
<script>
    function goi(stt) {
        if (stt == 1) {
            document.getElementById("goi").value = "1";
        }
        if (stt == 2) {
            document.getElementById("goi").value = "2";
        }
        if (stt == 3) {
            document.getElementById("goi").value = "3";
        }
        if (stt == 4) {
            document.getElementById("goi").value = "4";
        }
        if (stt == 5) {
            document.getElementById("goi").value = "5";
        }
        if (stt == 6) {
            document.getElementById("goi").value = "6";
        }
    }
    function muahang() {
        var sphone = $("#phone").val();
        var semail = $("#email").val();
        var sname = $("#name").val();
        var snotice = $("#goi option:selected").text() + ", " + window.location.href;

        if (sphone == "") {
            alert("Nhập số điện thoại của bạn");
            document.getElementById("phone").focus();
            return;
        }
        if (semail == "") {
            alert("Nhập email của bạn");
            document.getElementById("email").focus();
            return;
        }

        $("#sendMessageButton2").html("Đang đăng ký xin đợi");

        $.ajax({
            url: "/Home/sendmail", type: 'post',
            data: { phone: sphone, email: semail, name: sname, notice: snotice },
            success: function (rs) {
                if (rs == '1') {
                    alert("Đã nhận được đăng ký của bạn. Chúng tôi sẽ liên hệ sớm nhất để tư vấn! Cảm ơn bạn!");
                    //location.reload();
                } else {
                    alert("Hiện tạm thời chúng tôi chưa thể nhận đăng ký thời điểm này! Xin bạn gọi số 0979776427 để được tư vấn");
                }
                $("#sendMessageButton2").html("ĐĂNG KÝ");
            }
        });
    }
</script>
<!--main section-->
<section class="bg-texture hero pt-5">
    <div class="container">
        <div class="row d-sm-flex">
            <div class="col-sm-6 text-white wow fadeIn">
                <div class="mt-5 pt-5 hidden-sm-down"></div>
                <h1>Khóa Học Zalo Marketing</h1>
                <h2>
                    Giúp bạn quảng bá thương hiệu sản phẩm đến hàng chục triệu người
                </h2>
                <p class="mt-4 lead">
                    Dành cho chủ shop, hộ kinh doanh cá thể, doanh nghiệp muốn quảng bá thương hiệu, sản phẩm, dịch vụ
                </p>
                <p>
                    <b>CEO Nguyễn Viết Huy - Giám đốc Công ty Minh Việt</b>
                </p>
                <p>
                    <a href="#" class="mr-2"><img src="~/Content/images/ct1.jpg" class="store-img" style="width:100%;height:100%;" /></a>
                </p>
            </div>
            <div class="col-sm-6 pt-5 hidden-sm-down wow fadeInRight">
                <img class="img-fluid mx-auto d-block" src="~/Content/new/img/shot-3.png" />
            </div>
        </div>
    </div>
</section>
<!--main features-->
<section class="bg-alt" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center wow fadeIn">
                <h2 class="text-primary">Vì sao bạn cần tư vấn?</h2>
                <p class="lead">
                    Vì chúng tôi giúp bạn tiết kiệm thời gian và tiền bạc, gọi ngay 0979776427
                </p>
            </div>
        </div>
        <div class="row d-md-flex mt-4 text-center">
            <div class="col-sm-3 mt-2">
                <div class="card border-none wow fadeIn">
                    <div class="card-block">
                        <i class="material-icons dp36 icon-box">camera_enhance</i>
                        <h5 class="card-title text-primary pt-5">Tìm đúng khách hàng</h5>
                        <p class="card-text">Họ là ai? Nơi sống, giới tính, hành vi</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-2">
                <div class="card border-none wow fadeIn">
                    <div class="card-block">
                        <i class="material-icons dp36 icon-box">crop</i>
                        <h5 class="card-title text-primary pt-5">Chọn đúng sản phẩm</h5>
                        <p class="card-text">Nhận diện thương hiệu, đặc tính nổi bật, xu hướng của sản phẩm</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-2">
                <div class="card border-none wow fadeIn">
                    <div class="card-block">
                        <i class="material-icons dp36 icon-box">cloud_upload</i>
                        <h5 class="card-title text-primary pt-5">Xây dựng kênh bán hàng</h5>
                        <p class="card-text">Thiết lập các kênh bán hàng online hiệu quả</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-2">
                <div class="card border-none wow fadeIn">
                    <div class="card-block">
                        <i class="material-icons dp36 icon-box">invert_colors</i>
                        <h5 class="card-title text-primary pt-5">Xây dựng kế hoạch tài chính</h5>
                        <p class="card-text">Phân bổ đúng vào các kênh marketing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--extra features-->
<section class="bg-inverse text-white" id="extra-features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center wow fadeIn">
                <h2 class="text-orange">NỘI DUNG KHÓA HỌC</h2>
                <p class="lead">
                    Chạy ra đơn hàng ngay lập tức
                </p>
            </div>
        </div>
        <div class="row d-md-flex mt-5">
            <div class="col-sm-4 wow fadeIn">
                <h5 class="text-orange">Tạo shop bán hàng trên zalo</h5>
                <p>Thiết lập cửa hàng trên zalo và chạy quảng cáo sản phẩm</p>
                <h5 class="text-orange pt-5">Tạo trang doanh nghiệp, thương hiệu</h5>
                <p>Thiết lập doanh nghiệp, thương hiệu của bạn và chăm sóc khách hàng online</p>
                <h5 class="text-orange pt-5">Quảng cáo landing page website</h5>
                <p>Cách tạo website landing page chuẩn, viết bài, và chạy quảng cáo dẫn đến website sản phẩm, dịch vụ</p>
            </div>
            <div class="col-sm-4 wow fadeIn">
                <img class="img-fluid mx-auto d-block pb-3" src="~/Content/new/img/kenh.png" alt="Đa Kênh">
            </div>
            <div class="col-sm-4 wow fadeIn">
                <h5 class="text-orange">16 bước viết bài ra đơn hàng</h5>
                <p>Vì sao nội dung bài viết của bạn chưa hiệu quả</p>
                <h5 class="text-orange pt-5">Tối ưu quảng cáo</h5>
                <p>Hình ảnh, tiêu đề và những thủ thuật tối ưu quảng cáo với chi phí thấp nhất</p>
                <h5 class="text-orange pt-5">Đo lường, kiểm soát</h5>
                <p>Đo lường, phân tích chỉ số và lựa chọn các quảng cáo hiệu quả nhất</p>
            </div>
        </div>
    </div>
</section>
<!--pricing-->
<section class="bg-alt" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center">
                <h2 class="text-primary">Đăng Ký Học</h2>
                <p class="lead">
                    Từ cơ bản đến nâng cao
                </p>
            </div>
        </div>
        <div class="row d-md-flex mt-4 text-center">
            <div class="col-sm-12 mt-2 wow fadeIn">
                <div class="card card-outline-primary ">
                    <div class="card-block" style="min-height:632px;">
                        <h5 class="card-title pt-4 text-orange">Chuyên Gia Quảng Cáo Zalo</h5>
                        <h3 class="card-title text-primary pt-4">5.500.000 <sup>vnđ</sup> </h3>
                        <p class="card-text text-muted pb-3 border-bottom">HỌC ZALO MARKETING TRỰC TIẾP</p>
                        <ul class="list-unstyled pricing-list">
                            <li>- Học trực tiếp quảng cáo zalo từ A đến Z</li>
                            <li>- Lập kế hoạch triển khai</li>
                            <li>- Phân tích chân dung khách hàng</li>
                            <li>- 16 bước viết bài, viết quảng cáo thu hút mua hàng</li>
                            <li>- Cách viết tiêu đề quảng cáo gây chú ý</li>
                            <li>- Nhắm tới đúng khách hàng, thời điểm chạy quảng cáo</li>
                            <li>- Phân tích quảng cáo</li>
                            <li>- Học trong 5 buổi tối, hoặc nguyên 2 ngày(16 tiếng) liên tiếp</li>
                        </ul>
                        <a href="#contact" class="btn btn-primary btn-radius" onclick="goi(5);">Đăng Ký</a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>
<section class="bg-orange" id="contact">
    <div class="container">
        <div class="row d-md-flex text-center wow fadeIn">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-xs-12">
                <h2 class="text-primary">Đăng Ký Dịch Vụ</h2>
                <p class="mt-4 lead">
                    <input class="form-control" name="phone" id="phone" placeholder="Nhập số điện thoại" type="text">
                </p>
                <p class="mt-5">
                    <input class="form-control" name="email" id="email" placeholder="Nhập email" type="text">
                </p>
                <p class="mt-5">
                    <input class="form-control" name="name" id="name" placeholder="Nhập Họ tên" type="text">
                </p>
                <p class="mt-5">
                    <select id="goi" name="goi" class="form-control" style="display:none;float:left;position:relative;" multiple>
                        @*<option selected value="1">Gói 1: Cơ bản</option>
                        <option value="2">Gói 2: Tiêu chuẩn</option>*@
                        <option value="3" selected>Chuyên gia cao cấp</option>                        
                    </select>
                    <br /><br /><br />
                    <a href="#contact" class="btn btn-white btn-radius" id="sendMessageButton2" onclick="muahang();">Đăng Ký</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="bg-alt" id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center">
                <h2 class="text-primary">Các Chuyên Gia</h2>
                <p class="lead">
                    Chúng tôi bao gồm các chuyên gia kinh nghiệm ở lĩnh vực công nghệ, marketing và truyền thông
                </p>
            </div>
        </div>
        <div class="row d-md-flex mt-4 text-center">
            <div class="col-sm-4 mt-2 wow fadeIn">
                <div class="card border-none">
                    <div class="card-block">
                        <img src="~/Content/new/img/avatar.png" alt="Male" class="img-team img-fluid rounded-circle" />
                        <h5 class="card-title text-primary pt-4">Nguyễn Viết Huy</h5>
                        <p class="card-text">CEO - Giám Đốc Điều Hành</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-2 wow fadeIn">
                <div class="card border-none">
                    <div class="card-block">
                        <img src="~/Content/new/img/thuy.jpg" alt="Male" class="img-team img-fluid rounded-circle" />
                        <h5 class="card-title text-primary pt-4">Nguyễn Diệu Thùy</h5>
                        <p class="card-text">Giám đốc Truyền thông - Trưởng phòng quảng cáo báo Vnexpress.Net</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-2 wow fadeIn">
                <div class="card border-none">
                    <div class="card-block">
                        <img src="~/Content/new/img/lien.jpg" alt="Male" class="img-team img-fluid rounded-circle" />
                        <h5 class="card-title text-primary pt-4">Đỗ Hoàng Liên</h5>
                        <p class="card-text">Giám đốc Marketing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--contact-->
<section class="bg-texture-collage p-0" id="contact">
    <div class="container">
        <div class="row d-md-flex text-white text-center wow fadeIn">
            <div class="col-sm-4 p-5">
                <p><em class="material-icons dp36">phone</em></p>
                <p class="lead">+0979776427</p>
            </div>
            <div class="col-sm-4 p-5">
                <p><em class="material-icons dp36">email</em></p>
                <p class="lead">vnnvh80@gmail.com</p>
            </div>
            <div class="col-sm-4 p-5">
                <p><em class="material-icons dp36">location_on</em></p>
                <p class="lead">Linh Đàm, Hoàng Mai, Hà Nội</p>
            </div>
        </div>
    </div>
</section>
<div class="hotline" style="display:block;">
    <div class="container">
        <div class="iconcall">
            <a href="tel:0979776427" class="phonenummber " style="color:blue;">Gọi 097 977 6427</a>
        </div>
    </div>
</div>