@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<section id="feature">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2 style="margin-top:15px;">NHU CẦU CỦA KHÁCH HÀNG</h2>
            <p class="lead">Khách hàng cần gì và tại sao phải thực hiện Marketing Online</p>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-bullhorn"></i>
                        <h2>Thói quen người dùng</h2>
                        <h3>Họ tìm kiếm sản phẩm dịch vụ chủ yếu qua internet và mạng xã hội</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-comments"></i>
                        <h2>Xu hướng của thế giới</h2>
                        <h3>Quảng bá sản phẩm dịch vụ của bạn qua internet là cách cả thế giới đang làm</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-cloud-download"></i>
                        <h2>Tiết kiệm chi phí</h2>
                        <h3>Giảm tối đa chi phí cho nhân lực và tài chính, nguồn lực khác</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-leaf"></i>
                        <h2>Hiệu quả rõ ràng</h2>
                        <h3>Thấy được hiệu quả tức thì theo thời gian thực</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-cogs"></i>
                        <h2>Báo cáo chi tiết</h2>
                        <h3>Xem được thống kê, báo cáo chi tiết với số liệu thực</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-archive"></i>
                        <h2>Chiến lược kinh doanh</h2>
                        <h3>Giúp khách hàng điều chỉnh chiến lược kinh doanh</h3>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.services-->
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#feature-->
<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2 style="margin-top:15px;">Dịch Vụ Công Ty</h2>
            <p class="lead">Lựa chọn các dịch vụ phù hợp với nhu cầu của bạn</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/Content/images/services/services1.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Thiết kế web</h3>
                        <p style="text-align:justify;">Giúp bạn có một website giới thiệu công ty, quảng bá sản phẩm, đơn giản, dễ sử dụng</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/Content/images/services/services2.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">SEO Marketing</h3>
                        <p style="text-align:justify;">Cung cấp đội ngũ viết bài, biên tập chuẩn SEO cho website của bạn</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/Content/images/services/services3.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Facebook Marketing</h3>
                        <p style="text-align:justify;">Giới thiệu công ty, dịch vụ của bạn trên mạng xã hội facebook</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/Content/images/services/services4.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Forum Seeding</h3>
                        <p>Quảng bá trên các diễn đàn, website khác</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/Content/images/services/services5.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Adword Google</h3>
                        <p>Giúp khách tìm thấy bạn qua Google hàng ngày</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="/Content/images/services/services6.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Social Marketing</h3>
                        <p>Blog, G+, Twitter, Pinterest, Instagram,...</p>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->